---
layout: default
title: Blog
---

<h1>{{ site.blog_title }}</h1>

My blog contains personal experiences about events and conferences I participate. I hope it is useful and entertaining!

{% for post in site.posts %}
{% if post.categories contains 'blog' %}
<article class="post-listitem">
<div class="media">
  <div class="media-body">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h2 class="media-heading">{{ post.title }}</h4>
    </a>
    <div class="post-listitem-subheading">
        {{ post.date | date_to_long_string }}
    </div>
    {% if post.image %}
    <a class="pull-right" href="{{ site.baseurl }}{{ post.url }}">
      <img class="media-object post-listitem-image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
    </a>
    {% endif %}
    {{ post.excerpt | markdownify }}
  </div>
</div>
</article>
{% endif %}
{% endfor %}